{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>{{city.name}}</h1>
<div class='row'>
	{% for architecture in architectures %}
        <div class='col-sm-4'>
            <!-- <div class="card" style="width: 23rem;"> -->
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{architecture.name}}</h1>
                    <img class='architecture' src="{{architecture.picture}}">
                    <p>Description:</p>
                    <p class='card-text'>{{architecture.description}}</p>
                    <a href="{{url_for('editArchitecture', city_id=architecture.city_id, architecture_id=architecture.id)}}" class="btn btn-outline-dark">Edit</a>
                    <a href="{{url_for('deleteArchitecture', city_id=architecture.city_id, architecture_id=architecture.id)}}" class='btn btn-outline-dark'>Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class='row'>
        <div class='col-sm-12'>
                <div class="card bg-light mb-3">
                    <div class="card-body text-center">
                        <a href="{{url_for('newArchitecture', city_id=city_id)}}" class='btn btn-outline-dark'>Add a New Architecture</a>
                        <a href={{url_for('showCities')}} class='btn btn-outline-dark'>Back to Cities</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}