{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='row'>
    <h1 class='col-12 display-4'>Modern Architecture Lists</h1>
    <h1 class='col-12 display-4'>in World Cities</h1>
</div>
<div class='row'>
	{% for city in cities %}
        <div class='col-sm-4'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title">{{city.name}}</h1>
                    <p class="card-text">{{city.description}}</p>
                    <!-- <a href="#" class="btn btn-primary">View Architectures</a> -->
                    <a href="{{url_for('showArchitectures', city_id=city.id)}}" class='btn btn-outline-dark'>View Architectures</a>
                    <a href="{{url_for('editCity', city_id=city.id)}}" class='btn btn-outline-dark'>Edit Name</a>
                    <a href="{{url_for('deleteCity', city_id=city.id)}}" class='btn btn-outline-dark'>Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class='row'>
    <div class='col-sm-12'>
        <!-- <div class="card"> -->
            <div class="card bg-light mb-3">
            <div class="card-body text-center">
                <a href="{{url_for('newCity')}}" class='btn btn-outline-dark'>Add a New City</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}