<h1>Edit Architecture</h1>
<form action='#', method='POST'>
    <div class='input'>
        <p>Architecture Name:</p>
        <input name='name' placeholder='Architecture Name'>
    </div>
    <div class='textarea'>
        <p>City Description:</p>
        <textarea name='description' placeholder="Description"></textarea>
    </div>
    <div class='input'>
            <p>Architect:</p>
            <input name='architect' placeholder='Architect Name'>
    </div>
    <div class='picture'>
        <img src={{architecture.picture}}>
    </div>
    <div class='input'>
            <p>Picture:</p>
            <input name='picture' placeholder='Picture Link'>
    </div>
    <div class='button'>
        <button type='submit' id='subit'>Save</button>
    </div>
</form>
<a href={{url_for('showCities')}}>Back to Cities</a>