{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='row'>
    <div class="card" style="width: 18rem;">
        <div class='card'>
        <div class='card-body'>
            <h1 class='card-title'>Edit {{editCity.name}}</h1>
            <form action='#', method='POST'>
                <div class='input'>
                    <p>City Name:</p>
                    <input name='name' placeholder={{editCity.name}}>
                </div>
                <div class='textarea'>
                    <p>Description:</p>
                    <textarea name='description' placeholder="{{editCity.description}}"></textarea>
                </div>
                <div class='button'>
                    <a href={{url_for('showCities')}} class='btn btn-outline-dark'>Cancel</a>
                    <button type='submit' id='submit' class='btn btn-outline-dark'>Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}