{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="card" style="width: 23rem;">
    <div class='card'>
        <div class='card-body'>
            <h1 class='card-title'>Edit {{architecture.name}}</h1>
            <form action='#', method='POST'>
                <div class='input'>
                    <p>Architecture Name:</p>
                    <input name='name' placeholder="{{architecture.name}}">
                </div>
                <br>
                <div class='picture'>
                    <img src={{architecture.picture}}>
                </div>
                <div class='input'>
                    <p>Picture:</p>
                    <input name='picture' placeholder='Picture Link'>
                </div>
                <br>
                <div class='textarea'>
                    <p>Description:</p>
                    <textarea name='description' placeholder="{{architecture.description}}"></textarea>
                </div>
                <div class='button'>
                    <a href={{url_for('showArchitectures', city_id=architecture.city_id)}} class='btn btn-outline-dark'>Cancel</a>
                    <button type='submit' id='submit' class='btn btn-outline-dark'>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}