{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class='col-sm-4'>
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h1 class='card-title'>New Architecture</h1>
            <form action='#', method='POST'>
                <div class='input'>
                    <p>Architecture Name:</p>
                    <input name='name' placeholder='Architecture Name'>
                </div>
                <br>
                <div class='input'>
                        <p>Picture:</p>
                        <input name='picture' placeholder='Picture link'>
                </div>
                <br>
                <div class='textarea'>
                    <p>Description:</p>
                    <textarea name='description' placeholder="Description"></textarea>
                </div>
                <div class='button'>
                    <a href={{url_for('showArchitectures', city_id=city_id)}} class='btn btn-outline-dark'>Cancel</a>
                    <button type='submit' id='submit' class='btn btn-outline-dark'>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}